@model TestApp.Models.Client

@{
    ViewData["Title"] = "Создать клиента";
}

<h1>Создать клиента</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="INN" class="control-label"></label>
                <input type="number" asp-for="INN" class="form-control" />
                <span asp-validation-for="INN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientType" class="control-label"></label>
                <select asp-for="ClientType" class="form-control">
                    <option>Юридическое лицо</option>
                    <option>Индивидуальный предприниматель</option>
                </select>
                <span asp-validation-for="ClientType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <form>
                <input type="submit" value="Вернуться назад" class="btn btn-danger" asp-action="Index" />
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
