@{
    ViewData["Title"] = "Главная";
}

<div class="text-left">
    <h1 class="display-4">Тестовое задание «Теледок»</h1>
    <p>
        Небходимо создать веб-приложение для добавления и просмотра клиентов (редактирование по желанию). Клиентами выступают юридические лица
        (ЮЛ) и индивидуальные предприниматели (ИП). ЮЛ могут иметь некоторое количество учредителей.
    </p>
    <h2>
        Необходимые поля
    </h2>
    <h3>Клиент</h3>
    <ul>
        <li>ИНН</li>
        <li>Наименование</li>
        <li>Тип (ЮЛ / ИП)</li>
        <li> Дата добавления (заполняется автоматически)</li>
        <li> Дата обновления (заполняется автоматически)</li>
    </ul>
    <h3>Учредитель</h3>
    <ul>
        <li>ИНН</li>
        <li>ФИО</li>
        <li> Дата добавления (заполняется автоматически)</li>
        <li> Дата обновления (заполняется автоматически)</li>
    </ul>
    <p>
        С типами данных для полей, связями, ограничениями и валидацией необходимо определиться самостоятельно.
    </p>
    <h2>
        Рекомендации
    </h2>
    <ul>
        <li>
            Для разработки использовать платформу ASP.NET Core MVC .
        </li>
        <li>
            В качестве СУБД использовать на выбор:
            <ul>
                <li>
                    SQL Express LocalDB (коробочное решение в Visual Studio )
                </li>
                <li>
                    MS SQL (на базе docker )
                </li>
                <li>
                    PostgreSQL (на базе docker )
                </li>
            </ul>
        </li>
        <li>
            В качестве ORM использовать Entity Framework Core и подход Code First .
        </li>
        <li>
            Для оформления разметки использовать Bootstrap или собственные стили по желанию.
        </li>
        <li>
            Не использовать встроенные механизмы генерации шаблонных контроллеров и представлений в Visual Studio , т.к. нам необходим ваш
            личный код для обсуждения и ревью.
        </li>
        <li>
            Загрузить исходный код на любую Git платформу с уникальным названием проекта (либо же скрыть из публичного поиска).
        </li>
        <li>Если проект будет нестандартным (иметь нюансы по запуску или что-то подобное), необходимо приложить файл с описанием.</li>
    </ul>
</div>
